@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    
background-color: lightgrey;
    
  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
box-sizing: inherit;
}

h1 {
    margin: 0;
    font-size: 1.1rem;
    padding: 1.3rem;
}

img {
    display: block;
    width: 100%;
}

.dino {
    overflow: hidden;
    background-color: white;
}

body {
  margin: 0;
  padding: 0;
}

div {
    float: left;
    padding: 0.90rem;
    width: 33.3333%;
}

.info {
    float: left;
    padding: 1rem;
    width: 33.3333%;
    border-right: 1px solid #ccc;
}
 .info:last-child {
     border: 0;
 }

.graphic {
    margin: 0;
    padding: 0;
    position: relative;
}

.graphic-caption {
    margin: 1rem;
    position: absolute;
    bottom: 0;
    padding: 0.3rem;
    color: white;
    background-color: (0,0,0,0.3);
    font-style: italic;
    font-size: .90rem;
    font-family: georgia, sans-serif;
}
